body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #00ff99;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    padding: 20px;
}
h2 {
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
}
.card {
    max-width: 500px;
    width: auto;
    margin: 20px;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 255, 153, 0.5);
    overflow: auto;
}
.info-group {
    display: flex; /* Добавлено для использования Flexbox */
    flex-direction: column; /* Вертикально выравнивание */
    align-items: center; /* Центровка содержимого по горизонтали */
    margin-bottom: 15px;
}
.info-label {
    font-weight: bold;
    margin-right: 10px;
    display: block; /* Изменено, чтобы отображалась вертикально */
    width: auto; /* Автоширина */
    text-align: center; /* Центровка текста */
}
.home-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}
.home-button {
    background-color: #00ff99;
    color: #121212;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 10px;
    transition: background 0.3s;
}
.home-button:hover {
    background-color: #00cc66;
}

.button {
    display: block; /* Обеспечивает правильную центровку */
    width: 100%; /* Занимает всю ширину родительского элемента */
    padding: 10px;
    background-color: #00ff99;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 20px; /* Добавляем отступ сверху */
    transition: background 0.3s;
}

.button:hover {
    background-color: #00cc66;
}

.form-group {
    display: flex;
    align-items: center; /* Центровка по вертикали */
    margin-bottom: 15px; /* Отступ между полями */
}

.form-group label {
    flex: 1; /* Название поля занимает 1 часть пространства */
    margin-right: 10px; /* Отступ между названием и полем */
    color: #00ff99;
}

.form-group select,
.form-group input {
    flex: 2; /* Поле для ввода занимает 2 части пространства */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.message {
    margin-top: 20px;
    color: #00ff99;
    text-decoration: none;
    text-align: center;
}