body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #00ff99;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
h2 {
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 255, 153, 0.5);
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
label {
    margin-right: 10px;
    font-weight: bold;
    width: 120px;
}
input {
    padding: 10px;
    border: 1px solid #00ff99;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1a1a1a;
    color: #00ff99;
    flex: 1;
}
button {
    padding: 10px;
    background-color: #00ff99;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background 0.3s;
}
button:hover {
    background-color: #00cc66;
}
.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #00ff99;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background 0.3s;
}
.home-button:hover {
    background-color: #00cc66;
}
.register-link {
    margin-top: 20px;
    color: #00ff99;
    text-decoration: none;
    text-align: center;
    display: block;
}
.register-link:hover {
    text-decoration: underline;
}
.message {
    margin-top: 20px;
    color: #00ff99;
    text-decoration: none;
    text-align: center;
}