<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    @import url("static/css/listpages.css");
</style>
<title>Входящие заявки — MSPD</title>
<link rel="icon" type="image/ico" href="/static/favicon.ico">
</head>
<body>
    <header>
    </header>
    <div id="infopanel">
        <div class="left-side">
            <img src="/static/MSPDlogosmall.png" alt="Логотип" class="logo">
            <span>MSPD //</span>
            <button class="infopanel-btn" onclick="location.href='/sus_browser'">Подозреваемые</button>
            <span>//</span>
            <button class="infopanel-btn" onclick="location.href='/sus_uploader'">Заявить о подозреваемом</button>
            <span>//</span>
            <button class="infopanel-btn" style="background-color: #8dd1ee;" onclick="location.href='/claim_manager'">Входящие заявки</button>
            <span>//</span>
            <button class="infopanel-btn" onclick="location.href='/claim_browser'">Исходящие заявки</button>
        </div>
        <div class="center-side">
            <div id="notification" style="display: none;"></div>
        </div>
        <div class="right-side">
            <span>Вы вошли в сеть как {{.Username}} //</span>
            <button class="infopanel-btn" onclick="logout()" style="background-color: #8dd1ee; margin-left: 5px;">Выйти</button>
        </div>
    </div>
    <section id="boxes">
        {{if ne .Resp "OK"}}
        <h2 style="color: #ea37df; margin: 5px; font-size: 1.6rem;">{{.Resp}}</h2>
        {{end}}
        <div class="sus-container">
            {{range .Claims}}
            <div class="sus-tile">
                <img src="/static/sus/{{.Sus.ID}}.png" onerror="this.onerror=null; this.src='/static/unknownsus.png'" onclick="location.href='/sus/{{.Sus.ID}}'" width="150" height="150" />
                <h2 style="color: #ea37df; margin: 5px; font-size: 1.6rem;">{{.Sus.SusName}}</h2>
                <p style="color: #8dd1ee; margin: 5px; font-size: 1.2rem;">Заявил пользователь №{{.UserID}}</p>
                <p style="color: #8dd1ee; margin: 5px; font-size: 1.2rem;">{{.Status}}</p>
                {{if ne .Status "Completed"}}
                <form class="sus_btn" action="/accept_claim" method="POST">
                    <input type="hidden" name="ID" value="{{.ID}}" />
                    <button class="sus_btn" type="submit">Выдать награду</button>
                </form>
                {{else}}
                <p style="color: #c36ada; margin: 5px; font-size: 1.2rem; margin-top: auto;">{{.Reward}}</p>
                {{end}}
            </div>
            {{end}}
    </section>
    <script src="static/js/claim_notification.js"></script>
</body>
</html>
<script>
    function logout() {
        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/logout";
        document.body.appendChild(form);
        form.submit();
    }
</script>
